<p>
    I'm passionate about creating elegant software systems using the latest 
    technologies. I have experience with concepts like Machine Learning, Data 
    Science, Statistics, and tools like python, pandas, R, and more. 
    I graduated from St Andrews with a BSc (Hons) Mathematics in 2019 and I am 
    a Software Engineer intern at JP Morgan in Glasgow this summer. 
</p>
<p>    
    I am currently looking for opportunities in Fall 2019 and beyond where I 
    can add value and continue to expand my skill set.
</p>
<p> 
    Learn more on my <a href="https://www.linkedin.com/robsonedwards">Linkedin
    </a> and <a href="https://www.github.com/robsonedwards">Github</a>.
</p>