
<script src="number-game.js" defer>
</script>

<div class="numberGame">
    <h1>Number Guessing Game</h1>
    <p>Guess the number between 1 and 100!</p>
    <div class="numberGameParagraphs" style="padding: 10px; border-radius: 2px;
            background-color: rgb(191, 191, 191)">
        <p class="lastResult" style="margin-bottom:0px"></p>
        <p class="guesses" style="margin-bottom:0px"> </p>
        <div class="guessFieldWrapper" style="background-color:
         rgb(255, 255, 255, 0.5); padding: 5px; border-radius: 2px;">
            <form action="#">
            <input type="tel" placeholder="Enter a guess" min="1" max="100"
             id="guessField" class="guessField" 
                style="width: 100%; display:block; background-color: 
                    rgb(255,255,255,0); border-width: 0px"/>
            </form>
            <button class="guessSubmit" style="margin-left: auto;">Submit</button>
        </div>
    </div>
    <p class="highScore"></p>
</div>
