
<script src="number-game.js" defer>
</script>

<div class="numberGame">
    <h1>Number Guessing Game</h1>
    <p>Guess the number between 1 and 100!</p>
    <div class="numberGameParagraphs" style="padding: 10px; border-radius: 5px">
        <p class="guesses" style="margin-bottom:0px"> </p>
        <input type="text" id="guessField" class="guessField" style="min-width: 200px; max-width:740px">
            <!-- to do: make input field fill-->
        <p class="lastResult" style="margin-bottom:0px"></p>
    </div>
    <p class="highScore"></p>
</div>
