
{% if page.title %}
<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
{% endif %}
<ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.posts -%}
    <a href="{{ post.url | relative_url }}">
        <span style="display: block">
        <li class="post-list-item">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>{{ post.title | escape }}</h3>
        <p>
            {{ post.excerpt | truncatewords:page.wordstotruncate }}
        </p>
        {% if post.image %}
            <div style="overflow: hidden; position: relative; height: 200px; border-radius: 5px">
                <img src="{{ post.image }}" 
                        style="position: absolute; top: 0; bottom: 0; margin: auto">
            </div>
        {% endif %}
        </li>
        </span>
    </a>
    <br>
    {%- endfor -%}
</ul>
