---
---

@import "minima";

.site-header {
    //background-image: linear-gradient(120deg, #262626, #525252);
    background-color: #262626;
    border-top: 0px solid #e8e8e8;
    border-bottom: 0px solid #e8e8e8;
}

.site-title, .site-title:visited {
    color: #e8e8e8;
}

.site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #393939;
    border: 0px;
    border-radius: 5px;
    text-align: right; }
    .site-nav .nav-trigger {
      display: none; }
    .site-nav .menu-icon {
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center; }
      .site-nav .menu-icon > svg path {
        fill: #e8e8e8; }
    .site-nav label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer; }
    .site-nav input ~ .trigger {
      clear: both;
      display: none; }
    .site-nav input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px; }
    .site-nav .page-link {
      color: #e8e8e8;
      line-height: 1.5;
      display: block;
      padding: 5px 10px;
      margin-left: 20px; }
      .site-nav .page-link:not(:last-child) {
        margin-right: 0; }
    @media screen and (min-width: 600px) {
      .site-nav {
        position: static;
        float: right;
        border: none;
        background-color: inherit; }
        .site-nav label[for="nav-trigger"] {
          display: none; }
        .site-nav .menu-icon {
          display: none; }
        .site-nav input ~ .trigger {
          display: block; }
        .site-nav .page-link {
          display: inline;
          padding: 0;
          margin-left: auto; }
          .site-nav .page-link:not(:last-child) {
            margin-right: 20px; } }